//Colors

$color-dark-blue: #6c63ff;
$color-white: #fff;
$color-dark-white: #f8dcdc;
$color-gray:#f5f1f1ad;
$color-light-gray:#f5f1f1;
$color-dark-gray: #dfd9d9ad;
$color-red-alert: #ff0f0fde;
$color-green-alert: #32cd32de;

// Grid

$small-10: 10%;
$small-30: 30%;
$medium-40: 40%;
$medium-50: 50%;
$big-70: 70%;
$big-80: 80%;
$big-90: 90%;
$full: 100%;