*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
    //rem definition from px
    font-size: 62.5%;
}

body{
    background-color: $color-dark-white;
    box-sizing: border-box;
}

.app{
  @include createFlex(flex, center, center);
}