*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
    //rem definition from px
    font-size: 62.5%;
}

body{
    background-color: #f8dcdc;
    box-sizing: border-box;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}