.products{
width: 100%;
display: flex;
align-content: center;
justify-content: space-between;

    &__sidebar{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 20%;
    }

    &__wrapper{
display: flex;
align-items: center;
flex-wrap: wrap;
width: 80%;

&--element{
    width: 200px;
    height: 250px;
    margin: 10px;
    border: 1px solid black;

    p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}
    }
}