.products{
width: 100%;
display: flex;
align-content: center;
justify-content: flex-end;

    &__sidebar{
position: fixed;
left: 0;
display: flex;
margin-top: 20px;
flex-direction: column;
align-items: center;
justify-content: center;
width: 20%;
height: 80%;
border: 1px solid black;
    }

    &__wrapper{
display: flex;
align-items: flex;
flex-wrap: wrap;
width: 80%;

&--element{
    background-color: #f5f1f1;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    margin: 10px;
    padding: 5px;
    color: #000000;
    text-decoration: none;

    
    &--img{
        width: 100%;
        height: 70%;

        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    &--title{
        display: flex;
        flex-direction: column;
        h3{
          color: #6c63ff;
          font-weight: 400;
          margin-bottom: 0;
          transition: all 300ms ease-in-out;
        }
        p{
          margin: 0;
          color: #6c63ff;
          font-weight: 100;
        }
    }

    &:hover{
            h3{
              color: #FA5400;
            }
    }
}
    }
}