.product {
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 1rem;

  &__show {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__carousel {
    width: 70rem;
    height: 50rem;
    border: 1px solid #e0dbdb;
    background-color: #f3efefad;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -21px 18px 48px -23px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    margin: 10px 0px;
  }

  &__carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      max-width: 70rem;
      max-height: 40rem;
      width: 90%;
      height: 90%;
      border-radius: 6px;
    }
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    div {
      border: 1px solid #6c63ff;
      border-radius: 3rem;
      width: 15px;
      height: 15px;
      margin: 5px;
      transition: all 300ms ease-in-out;
    }
  }

  &__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50rem;
    height: 50rem;
    padding: 20px;
    border: 1px solid #e0dbdb;
    background-color: #f3efefad;
    box-shadow: -21px 18px 48px -23px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    margin: 10px 0px
  }

  &__user {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 7rem;
      height: 7rem;
      border-radius: 90px;
    }
  }

  &__about {
    border: 1px solid #6c63ff;
    border-radius: 6px;
    width: 90%;
    min-height: 5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-weight: 500;
    }
  }

  &__shipment {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c63ff;
    border-radius: 6px;
    padding: 10px;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 100%;

    div {
      width: 13px;
      height: 13px;
      border-radius: 10px;
      margin: 0px 10px;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;

    span{
    font-weight: 500;
    }
  }

  &__cart-info{
    border: 1px solid #6c63ff;
    cursor: initial;
  }

  &__details {
    width: 80%;
    border: 1px solid #e0dbdb;
    background-color: #f3efefad;
    box-shadow: -21px 18px 48px -23px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    padding: 10px;
    margin: 15px 0px;

    h1 {
      font-weight: 400;
      font-size: 30px;
    }

    h2 {
      font-size: 30px;
    }
  }

  &__keyInfo {
    border: 1px solid #e0dbdb;
    border-radius: 6px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 40px;
      border-radius: 6px;
      color: #ffffff;
      margin: 5px;
      font-weight: 500;
    }
  }

  &__description {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 15px 0px;

   :first-child{
    font-weight: 400;
    font-size: 25px;
   }
  }

  &__decoration-line {
    width: 100%;
    border-top: 1px solid #6c63ff;
  }

  &__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 20px;
    margin: 15px 0px;
  }

  &__contact-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 0px;

    div {
      border: 1px solid #6c63ff;
      border-radius: 6px;
      width: 40rem;
      height: 5rem;
      padding: 15px;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      span {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px ){
  .product{
    &__details {
      width: 100%;
    }
  }
}