.products-list {
  @include createFlex(flex, flex-start, center);
  flex-wrap: wrap;
  margin-top: 20rem;
  max-width: $big-80;

  &__element {
    background-color: $color-light-gray;
    width: 30rem;
    height: 35rem;
    margin: 1rem;
    padding: 5px;
    color: #000000;
    text-decoration: none;

    &:hover{
      h3{
        color: #fa5400;
      }
    }
  }

  &__product-image {
    width: $full;
    height: $big-70;
    @include createFlex(flex, center, center);
    background-color: $color-dark-gray;

    img {
      max-width: $full;
      max-height: $full;
    }
  }

  &__product-title {
    display: flex;
    flex-direction: column;

    h3 {
      color: $color-dark-blue;
      font-weight: 400;
      margin-bottom: 0;
      transition: all 300ms ease-in-out; 
    }

    p {
      margin: 0;
      color: $color-dark-blue;
      font-weight: 100;
    }
  }

  &__no-items{
    margin-top: 5rem;
    @include createFlex(flex, center, center, column);
    font-size: 4rem; 
    }

    &__box-icon{
      margin-top: 5rem;
      color: $color-dark-blue;
      font-size: 10rem;
    }
  }

