.product {
  width: $full;
  margin-top: 12rem;
  @include createFlex(flex, center, center, column);
  font-size: 1.6rem;
  padding: 0 1rem;

  &__show {
    width: $full;
    @include createFlex(flex, space-evenly, center);
    flex-wrap: wrap;
  }

  &__carousel {
    width: 70rem;
    height: 50rem;
    border: 1px solid $color-dark-gray;
    background-color: $color-gray;
    @include createFlex(flex, center, center, column);
    box-shadow: -2.1rem 1.8rem 4.8rem -2.3rem rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    margin: 1rem 0px;
  }

  &__carousel-wrapper {
    @include createFlex(flex, center, center);

    img {
      max-width: 70rem;
      max-height: 40rem;
      width: $big-90;
      height: $big-90;
      border-radius: 6px;
    }
  }

  &__dots {
    @include createFlex(flex, center, center);
    width: $full;

    div {
      border: 1px solid $color-dark-blue;
      border-radius: 3rem;
      width: 1.5rem;
      height: 1.5rem;
      margin: 5px;
      transition: all 300ms ease-in-out;
    }
  }

  &__buy {
   @include createFlex(flex, space-around, center, column);
    width: 50rem;
    height: 50rem;
    padding: 2rem;
    border: 1px solid $color-dark-gray;
    background-color: $color-gray;
    box-shadow: -2.1rem 1.8rem 4.8rem -2.3rem rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    margin: 1rem 0px
  }

  &__user {
    width: $big-80;
    @include createFlex(flex, space-evenly, center);

    img {
      width: 7rem;
      height: 7rem;
      border-radius: 9rem;
    }
  }

  &__about {
    border: 1px solid $color-dark-blue;
    border-radius: 6px;
    width: $big-90;
    min-height: 5rem;
    margin: 0;
    @include createFlex(flex, center, center);

    span {
      font-weight: 500;
    }
  }

  &__shipment {
    width: $big-90;
    height: $small-30;
    @include createFlex(flex, center, center, column);
    border: 1px solid $color-dark-blue;
    border-radius: 6px;
    padding: 1rem;
  }

  &__status {
    @include createFlex(flex, center, center);
    font-weight: 500;
    width: $full;

    div {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 1rem;
      margin: 0 1rem;
    }
  }

  &__info {
    width: $full;
    @include createFlex(flex, center, flex-start, column);
    margin-top: 1rem;

    span{
    font-weight: 500;
    }
  }

  &__cart-info{
    border: 1px solid $color-dark-blue;
    cursor: initial;
  }

  &__details {
    width: $big-80;
    border: 1px solid $color-dark-gray;
    background-color: $color-gray;
    box-shadow: -2.1rem 1.8rem 4.8rem -2.3rem rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    padding: 1rem;
    margin: 1.5rem 0;

    h1 {
      font-weight: 400;
      font-size: 30px;
    }

    h2 {
      font-size: 30px;
    }
  }

  &__keyInfo {
    border: 1px solid $color-dark-gray;
    border-radius: 6px;
    width: $full;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;

    div {
    @include createFlex(flex, center, center);
      width: 20rem;
      height: 4rem;
      border-radius: 6px;
      color: $color-white;
      margin: 5px;
      font-weight: 500;
    }
  }

  &__description {
    width: $big-80;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin: 1.5rem 0;

   :first-child{
    font-weight: 400;
    font-size: 2.5rem;
   }
  }

  &__decoration-line {
    width: $full;
    border-top: 1px solid $color-dark-blue;
  }

  &__contact {
    width: $full;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  &__contact-info {
    width: $full;
    @include createFlex(flex, flex-start, center);
    flex-wrap: wrap;
    margin: 1.5rem 0;

    div {
      border: 1px solid $color-dark-blue;
      border-radius: 6px;
      width: 40rem;
      height: 5rem;
      padding: 1.5rem;
      margin: 0 1rem;
      @include createFlex(flex, center, center);
      margin-top: 1rem;

      span {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px ){
  .product{
    &__details {
      width: $full;
    }
  }
}