.addForm {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-top: 100px;

  &__images,
  &__wrapper {
    margin: 10px;
    padding: 20px;
  }

  &__images {
    position: fixed;
    left: 5%;
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    justify-content: center;
    border: 1px solid #e0dbdb;
    background-color: #f3efefad;
    border-radius: 10px;
    box-shadow: -21px 18px 48px -33px rgba(0, 0, 0, 0.75);

    input {
      display: none;
    }
  }

  &__add-image {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #6c63ff88;
    border-radius: 6px;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;

    span:last-of-type {
      font-size: 30px;
      font-weight: 500;
      color: #6c63ffdd;
    }
  }

  &__add-image-icon {
    color: #dcdad1;
    font-size: 150px;
  }

  &__added-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #6c63ff88;
    border-radius: 6px;

    div {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 6px;
      margin: 0 5px;
      border: 1px solid #6c63ff88;

      img {
        width: 100%;
        height: 100%;
      }

      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -8px;
        top: -8px;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: 1px solid #6c63ff;
        border-radius: 20px;
        transition: all 300ms ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        :first-child {
          font-size: 14px;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 1000px;

    div {
      margin-bottom: 5px;
    }
}

    &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__form-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: 1px solid #e0dbdb;
      border-radius: 10px;
      padding: 20px;
      height: 500px;
      background-color: #f3efefad;
      box-shadow: -21px 18px 48px -33px rgba(0, 0, 0, 0.75);
      margin-bottom: 20px;
    }

    &__form-title {
      display: flex;
      justify-content: flex-start;
      font-size: 17px;
    }

    &__form-description {
      display: flex;
      flex-direction: column;

      textarea {
        max-width: 100%;
        height: 150px;
        max-height: 240px;
        outline: none;
        border-radius: 6px;
        border: 2px solid #b6b2b2;
        transition: border 300ms ease-in-out;

        &:focus {
          border: 2px solid #6c63ff;
        }
      }
    }

    &__form-contact {
      display: flex;
      justify-content: space-between;
      width: 100%;

      div {
        width: 50%;

        input {
          width: 90%;
          margin-top: 5px;
        }
      }
    }

    &__form-place {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      input {
        width: 100%;
      }
    }

    &__form-category {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      div:last-of-type {
        margin-left: 20px;
      }

      div {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
    }

    &__form-additional {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          margin-left: 5px;
        }
      }

      div:last-of-type {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;

        select {
          width: 100%;
        }
      }
    }
}
