.first-page{
    @include createFlex(flex, center, center);
    width: $full;
    height: 95vh;
    background-image: 
    linear-gradient(
        to right bottom,
        rgba(#7d76ff, 0.7),
        rgba($color-dark-blue, 0.7)
        ),
    url('https://res.cloudinary.com/dulsntqev/image/upload/v1632082483/photo-1600009723489-027195d6b3d3_yt7zwh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    clip-path: polygon(0 20vh, $full 0, $full 80vh, 0 $full);

    &__header{
        @include createFlex(flex, center, center, column);
        background-color: $color-dark-white;
        width: 30rem;
        height: 30rem;
        border-radius: 5px;
        border: 1px solid $color-dark-blue;

        h1{
            font-size: 3rem;
            color: $color-dark-blue;
        }

        a{
            margin-top: 1.5rem;
        }
    }
}