.products {
  width: $full;
  margin-top: 10rem;
  @include createFlex(flex, center, center, column);
  font-size: 1.6rem;

  &__category {
    position: fixed;
    top: 9rem;
    display: flex;
    flex-direction: column;
    width: $full;
    background-color: $color-light-gray;
  }

  &__search {
    @include createFlex(flex, center, center);
  }

  &__category-nav {
    @include createFlex(flex, center, center);
    flex-wrap: wrap;
    width: $full;
    min-height: 7rem;
    padding: 5px;
    border-bottom: 1px solid #dbd9d9;

    p {
      font-weight: 400;
      font-size: 1.8rem;
      margin: 0 2rem;
      transition: all 300ms ease-in-out;

      &:hover {
        color: $color-dark-blue;
      }
    }
  }

  &__filter {
    width: $full;
    min-height: 5rem;
    @include createFlex(flex, flex-end, center);

    div {
      @include createFlex(flex, center, center);
      width: $small-30;
      cursor: pointer;

      p {
        font-weight: 400;
        font-size: 1.8rem;
        margin-right: 1rem;
        transition: all 300ms ease-in-out;

        &:hover {
          color: $color-dark-blue;
        }
      }
    }
  }

  &__form-checkbox {
    div {
      @include createFlex(flex, center, center);
      margin: 8px;

      label {
        cursor: pointer;
        margin-left: 3px;
        transition: all 300ms ease-in-out;

        &:hover {
          color: $color-dark-blue;
        }
      }
    }
  }

  &__filter-form {
    @include createFlex(flex, center, center);
    flex-wrap: wrap;
    background-color: #eeeeee;
    width: $full;
    border-bottom: 1px solid #dbd9d9;
    padding-bottom: 1rem;

    p {
      font-size: 1.5rem;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      margin: 0 2rem;

      &:hover {
        color: $color-dark-blue;
      }
    }
  }

  &__filter-icon {
    font-size: 2.5rem;
    color: $color-dark-blue;
  }

  &__form-selectors {
    width: $big-70;
    padding: 1rem;
    @include createFlex(flex, space-between, center);
    flex-wrap: wrap;
  }

  &__form-location {
    @include createFlex(flex, center, center);
    margin-top: 1.8rem;
  }

  &__form-price {
    @include createFlex(flex, center);

    div {
      display: flex;
      flex-direction: column;
      margin: 0 5px;

      //this is custom input, do not replace it with regular input
      input {
        width: 5rem;
        height: 5rem;
        border-radius: 6px;
        background-color: $color-gray;
        outline: none;
        transition: all 300ms ease-in-out;
        padding: 1rem;
        align-items: center;

        &::-webkit-input-placeholder {
          text-align: center;
        }

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }

  &__form-btns{
    display: flex;
    flex-wrap: wrap;
    button{
      margin: 5px;
    }
  }

  &__form-sort {
    display: flex;
    margin-top: 1.8rem;
  }
}

@media (max-width: 425px){
  .products {
    &__form-selectors {
      width: $full;
      justify-content: center;
      
    }
  }

}