.register {
  width: $full;
  height: 100vh;
  @include createFlex(flex, space-evenly, center);
  flex-wrap: wrap;
  font-size: 1.6rem;

  &__photos {
    margin: 3rem 1rem;
    padding: 2rem;
    display: flex;
    width: 50rem;
    max-height: 60rem;
    height: 50rem;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $color-dark-gray;
    background-color: $color-gray;
    border-radius: 10px;
    box-shadow: -2.1rem 1.8rem 4.8rem -3.3rem rgba(0, 0, 0, 0.75);

    input {
      display: none;
    }
  }

  &__image {
    @include createFlex(flex, center, center);
    width: $full;
    height: $full;
    padding: 1rem;
    border: 1px solid $color-dark-blue;
    border-radius: 6px;

    div {
      position: relative;
      @include createFlex(flex, center, center);
      width: $medium-50;
      height: $medium-50;
      border-radius: 6px;
      margin: 0 5px;
      border: 1px solid $color-dark-blue;

      img {
        width: $full;
        height: $full;
        border-radius: 6px;
      }

      span {
        cursor: pointer;
        @include createFlex(flex, center, center);
        position: absolute;
        right: -8px;
        top: -8px;
        width: 2rem;
        height: 2rem;
        background-color: $color-white;
        border: 1px solid $color-dark-blue;
        border-radius: 2rem;
        transition: all 300ms ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        :first-child {
          font-size: 1.4rem;
          color: $color-dark-blue;
        }
      }
    }
  }

  &__add-photo {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid $color-dark-blue;
    border-radius: 6px;
    width: $full;
    height: $full;
    @include createFlex(flex, space-evenly, center, column);
    margin-bottom: 1rem;

    span:last-of-type {
      font-size: 3rem;
      font-weight: 500;
      color: $color-dark-blue;
    }
  }

  &__photo-icon {
    color: #dcdad1;
    font-size: 15rem;
  }

  &__contact-wrapper {
    @include createFlex(flex, center, center, column);
    border: 1px solid $color-light-gray;
    background-color: $color-gray;
    width: 40rem;
    max-height: 60rem;
    height: 50rem;
    margin: 3rem 1rem 1rem 1rem;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: -2.1rem 1.8rem 4.8rem -2.3rem rgba(0, 0, 0, 0.75);

    h2 {
      color: $color-dark-blue;
      margin-bottom: 0;
    }
  }

  &__contact-form {
    @include createFlex(flex, space-evenly, center, column);
    width: $big-90;
    height: $full;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $full;
    }
  }

  &__login-wrapper {
    @include createFlex(flex, space-evenly, center, column);
    border: 1px solid $color-light-gray;
    background-color: $color-gray;
    width: 40rem;
    max-height: 60rem;
    height: 50rem;
    margin: 3rem 1rem 1rem 1rem;
    padding: 2rem 0;
    border-radius: 6px;
    box-shadow: -2.1rem 1.8rem 4.8rem -2.3rem rgba(0, 0, 0, 0.75);

    h2 {
      margin-bottom: 0;
      color: $color-dark-blue;
    }
  }

  &__login-form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: $big-70;
    height: $full;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}
