.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  width: 25rem;
  height: 4rem;
  text-decoration: none;
  border-radius: 6px;
  transition: all 300ms ease-in-out;

  &--small{
  width: 20rem;
  }

  &--full {
    font-size: 25px;
    width: 100%;
    height: 50px;
  }

  &--transparent {
    color: #6c63ff;
    border: 1px solid #6c63ff;

    &:hover {
      background-color: #6c63ff;
      color: #ffffff;
    }
  }

  &--background {
    background-color: #6c63ff;
    color: #ffffff;
    border: 1px solid #e0dbdb;

    &:hover {
      transform: scale(1.05);
    }
  }

  &--danger{
    background-color: #ff0f0fbd;
    font-weight: 500;
  }

  &--rounded {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 5px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
