.cart {
  position: fixed;
  right: 5rem;
  top: 25rem;
  @include createFlex(flex, center, center, column);

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    @include createFlex(flex, center, center, column);
    cursor: pointer;
    border-radius: 6rem;
    background-color: $color-dark-blue;
    color: $color-white;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
  }

  &__count {
    @include createFlex(flex, center, center);
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $color-red-alert;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;
    font-size: 1.4rem;
  }

  &__elements {
    margin-top: 7rem;
    color: $color-dark-blue;
    width: 25rem;
    padding: 1rem;
    border: 1px solid $color-light-gray;
    border-radius: 6px;
    background-color: $color-light-gray;
    font-weight: 500;
    font-size: 1.6rem;
  }

  &__no-items {
    width: $full;
    @include createFlex(flex, center, center);
    font-weight: 500;
    font-size: 2rem;
  }

  &__element {
    width: $full;
    margin: 1rem 0;
    @include createFlex(flex, space-between, center);
    font-size: 1.5rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 5px;
    }

    button {
      @include createFlex(flex, center, center);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      width: 2rem;
      height: 2rem;
    }
  }

  &__element-link {
    width: $medium-40;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
