.input {
  width: 25rem;
  height: 5rem;
  border: 1px solid $color-light-gray;
  border-radius: 6px;
  border-bottom: 2px solid #b6b2b2;
  outline: none;
  transition: all 300ms ease-in-out;
  padding: 1rem;

  &:focus {
    border-bottom: 2px solid $color-dark-blue;
  }

  &--with-icon {
    width: 15rem;
    height: 4rem;
    border-radius: 6px 0px 0px 6px;
  }

  &--full {
    height: 5rem;
    width: $full;
  }

  &--number {
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.input-icon {
  @include createFlex(flex, center, center);
  font-size: 1.5rem;
  width: 7rem;
  height: 4rem;
  background-color: $color-dark-gray;
  border-radius: 0px 6px 6px 0px;
}

.label {
  margin-bottom: 5px;
  font-size: 1.8rem;
  align-self: flex-start;
}
