.loading {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

    &__animation{
        display: inline-block;
        width: 110px;
        height: 110px;

    &:after {
        content: " ";
        display: block;
        width: 94px;
        height: 94px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #6c63ff;
        border-color: #6c63ff transparent #6c63ff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
  }
}
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }