.loading {
   width: $full;
   height: 100vh;
   @include createFlex(flex, center, center);

    &__animation{
        display: inline-block;
        width: 11rem;
        height: 11rem;

    &:after {
        content: " ";
        display: block;
        width: 9.4rem;
        height: 9.4rem;
        margin: 8px;
        border-radius: $medium-50;
        border: 6px solid $color-dark-blue;
        border-color: $color-dark-blue transparent $color-dark-blue transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
  }
}
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }