.navbar {
  position: fixed;
  top: 0;
  z-index: 4;
  @include createFlex(flex, space-around, center);
  width: $full;
  height: 9rem;
  border-bottom: 1px solid #dbd9d9;
  background-color: $color-light-gray;
  padding: 2rem;

  &__mobileIcon {
    display: none;
    visibility: hidden;
  }

  &__title {
    width: $medium-50;
    @include createFlex(flex, center);

    a {
      font-size: 3rem;
      text-decoration: none;
      font-weight: bold;
      color: $color-dark-blue;
      transition: all 300ms ease-in-out;

      &:hover {
        transform: scale(1.01);
      }
    }
  }

  &__logout-wrapper{
    @include createFlex(flex, space-evenly, center);
    border: 1px solid $color-dark-blue;
    border-radius: 6px;
    padding: 5px;
    width: $big-90;
    max-width: 35rem;

    img{
      width: 6rem;
      height: 6rem;
      border-radius: 9rem;
    }
  }

  &__links {
    @include createFlex(flex, space-evenly, center);
    font-weight: 500;
    width: $medium-50;
  }

  &__close-icon {
    display: none;
  }

  &__link {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    transition: all 300ms ease-in-out;

    &::before {
      content: "";
      background-color: $color-dark-blue;
      position: absolute;
      width: $full;
      height: 2px;
      bottom: -5px;
      left: 0;
      visibility: hidden;
      transform: scaleY(0);
      transition: all 0.5s ease-in-out 0s;
    }

    &:hover {
      transform: scale(1.01);
      color: $color-dark-blue;

      &::before {
        visibility: visible;
        transform: scaleY(1);
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    z-index: 2;

    &__mobileIcon {
      display: initial;
      visibility: visible;
      color: $color-dark-blue;
      font-size: 3rem;
    }

    &__links {
      position: absolute;
      z-index: 2;
      top: 0;
      width: $full;
      height: 100vh;
      background-color: $color-light-gray;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 3rem;
    }

    &__close-icon {
      position: absolute;
      display: initial;
      right: 3rem;
      top: 3rem;
      z-index: 3;
      font-size: 3rem;
      color: $color-dark-blue;
    }
  }
}
