.placePicker {
    @include createFlex(flex, space-between);
    width: $full;
  
    div {
      position: relative;

      display: flex;
      flex-direction: column;
      width: $full;
      select {
        appearance: none;
        border: none;
        margin: 0;
        width: $full;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        outline: none;
  
        width: $big-90;
        height: 5rem;
        border: 1px solid $color-light-gray;
        border-radius: 6px;
        background-color: $color-gray;
        border: 2px solid #b6b2b2;
        outline: none;
        transition: all 300ms ease-in-out;
        padding: 1rem;
  
        &:focus {
          border: 2px solid $color-dark-blue;
        }
      }
    }
  }
  