.select{
    appearance: none;
    border: none;
    margin: 0;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    height: 50px;
    border-radius: 6px;
    background-color: #f5f1f1ad;
    border: 2px solid #b6b2b2;
    outline: none;
    transition: all 300ms ease-in-out;
    padding: 10px;
  
    &:focus {
      border: 2px solid #6c63ff;
    }
}