.basic-input {
  height: 50px;
  border: 1px solid #e0dbdb;
  border-radius: 6px;
  border-bottom: 2px solid #b6b2b2;
  outline: none;
  transition: all 300ms ease-in-out;

  &:focus {
    border-bottom: 2px solid #6c63ff;
  }
}

.basic-select {
  appearance: none;
  border: none;
  margin: 0;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  height: 50px;
  border-radius: 6px;
  background-color: #f5f1f1ad;
  border: 2px solid #b6b2b2;
  outline: none;
  transition: all 300ms ease-in-out;
  padding: 10px;

  &:focus {
    border: 2px solid #6c63ff;
  }
}

.addForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100vh;
  padding: 10px;

  &__photos,
  &__wrapper {
    width: 50%;
    min-height: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e0dbdb;
    background-color: #f3efefad;
    box-shadow: -21px 18px 48px -33px rgba(0, 0, 0, 0.75);
  }

  &__photos{
      display: flex;
      align-items: center;
      justify-content: center;
      
    input{
        display: none;
    }

    &--addPhoto{
        padding: 10px;
        cursor: pointer;
        border: 1px solid #6c63ff88;
        border-radius: 6px;
        width: 100%;
        min-height: 450px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        div{
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 6px;
            border: 1px solid #6c63ff88;
            
            img{
                width: 100%;
                height: 100%;
            }

            span{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: -8px;
                top: -8px;
                width: 20px;
                height: 20px;
                background-color: #ffffff;
                border: 1px solid #6c63ff;
                border-radius: 20px;
                transition: all 300ms ease-in-out;

                &:hover{
                    transform: scale(1.1);
                }
                
               :first-child{
                   font-size: 14px;
               }
            }
        }

        &--icon{
            color: #DCDAD1;
            font-size: 150px;
        }

        span:last-of-type{
            font-size: 30px;
            font-weight: 500;
            color: #6c63ffdd;
        }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      margin-bottom: 5px;
    }

    &--form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &--title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        label {
          font-size: 17px;
        }
      }

      &--place {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        div {
          width: 50%;
          display: flex;
          justify-content: center;
          flex-direction: column;

          label {
            font-size: 17px;
          }
        }

        div:last-of-type {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;

          label {
            width: 150px;
          }
        }
      }

      &--category {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        div:last-of-type {
          margin-left: 20px;
        }

        div {
          width: 50%;
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 5px;
            font-size: 18px;
          }
        }
      }

      &--additional {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        div {
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            margin-left: 5px;
          }
        }

        div:last-of-type {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          width: 50%;

          label {
            margin-bottom: 5px;
            font-size: 18px;
          }

          select {
            width: 100%;
          }
        }
      }

      &--description {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
          font-size: 18px;
        }

        textarea {
          max-width: 100%;
          max-height: 150px;
          outline: none;
          border-radius: 6px;
          border: 2px solid #b6b2b2;
          transition: border 300ms ease-in-out;

          &:focus {
            border: 2px solid #6c63ff;
          }
        }
      }

      &--contact {
        display: flex;
        justify-content: space-between;
        width: 100%;

        div {
          width: 50%;

          label {
            margin-bottom: 5px;
            font-size: 18px;
          }

          input {
            width: 90%;
          }
        }
      }
    }
  }
}
