.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__category {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    background-color: #f5f1f1;

    &--nav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 60%;
      border-bottom: 1px solid #dbd9d9;

      p {
        font-weight: 400;
        font-size: 18px;
        margin: 0px 20px;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &:hover {
          color: #6c63ff;
        }
      }

      &--search{
        display: flex;
        align-items: center;
        justify-content: center;

        input{
        outline: none;
        width: 150px;
        height: 40px;
        border: 1px solid #e0dbdb;
        border-radius: 6px 0px 0px 6px;
        border-bottom: 2px solid #b6b2b2;
        transition: all 300ms ease-in-out;
        &:focus{
        border-bottom: 2px solid #6C63FF;
        }
        }

        &--iconWrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          width: 60px;
          height: 40px;
          background-color: #e0dbdb;
          border-radius: 0px 6px 6px 0px;
        }
      }
    }

    &--filter {
      width: 100%;
      min-height: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        cursor: pointer;

        p {
          font-weight: 400;
          font-size: 18px;
          margin-right: 10px;
          transition: all 300ms ease-in-out;

          &:hover {
            color: #6c63ff;
          }
        }
      }

      &--icon {
        font-size: 25px;
        color: #6c63ff;
      }
    }

    &--form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: #eeeeee;
      width: 100%;
      border-bottom: 1px solid #dbd9d9;
      padding-bottom: 10px;

      p {
        font-size: 15px;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        margin: 0px 20px;

        &:hover {
          color: #6c63ff;
        }
      }

      &--selectors {
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--price {
          display: flex;
          justify-content: center;

          div {
            display: flex;
            flex-direction: column;
            margin: 0px 5px;

            input {
              width: 50px;
              height: 50px;
              border-radius: 6px;
              background-color: #f5f1f1ad;
              outline: none;
              transition: all 300ms ease-in-out;
              padding: 10px;
              align-items: center;

              &::-webkit-input-placeholder {
                text-align: center;
              }

              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }
          }
        }
        button {
          align-self: center;
          width: 300px;
          height: 50px;
          background-color: #6c63ff;
          color: #ffffff;
          border: 1px solid #e0dbdb;
          border-radius: 6px;
          cursor: pointer;
          margin-top: 18px;
          transition: all 300ms ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 80%;

    &--element {
      background-color: #f5f1f1;
      width: 300px;
      height: 350px;
      margin: 10px;
      padding: 5px;
      color: #000000;
      text-decoration: none;

      &--img {
        width: 100%;
        height: 70%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &--title {
        display: flex;
        flex-direction: column;
        h3 {
          color: #6c63ff;
          font-weight: 400;
          margin-bottom: 0;
          transition: all 300ms ease-in-out;
        }
        p {
          margin: 0;
          color: #6c63ff;
          font-weight: 100;
        }
      }

      &:hover {
        h3 {
          color: #fa5400;
        }
      }
    }
  }
}
