.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;

  &__photos {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    width: 600px;
    height: 75%;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e0dbdb;
    background-color: #f3efefad;
    border-radius: 10px;
    box-shadow: -21px 18px 48px -33px rgba(0, 0, 0, 0.75);

    input {
      display: none;
    }

    &--image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 1px solid #6c63ff88;
      border-radius: 6px;

      div {
        position: relative;
        width: 50%;
        height: 50%;
        border-radius: 6px;
        margin: 0 5px;
        border: 1px solid #6c63ff88;

        img {
          width: 100%;
          height: 100%;
        }

        span {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -8px;
          top: -8px;
          width: 20px;
          height: 20px;
          background-color: #ffffff;
          border: 1px solid #6c63ff;
          border-radius: 20px;
          transition: all 300ms ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          :first-child {
            font-size: 14px;
            color: #6c63ff;
          }
        }
      }
    }

    &--addPhoto {
      padding: 10px;
      cursor: pointer;
      border: 1px solid #6c63ff88;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 10px;

      &--icon {
        color: #dcdad1;
        font-size: 150px;
      }

      span:last-of-type {
        font-size: 30px;
        font-weight: 500;
        color: #6c63ffdd;
      }
    }
  }

  &__contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0dbdb;
    background-color: #f5f1f1ad;
    width: 600px;
    height: 75%;
    margin: 30px 10px 10px 10px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: -21px 18px 48px -23px rgba(0, 0, 0, 0.75);

    &--backBtn {
      width: 90%;
      font-size: 25px;
      height: 50px;
      background-color: #6c63ff;
      color: #ffffff;
      border: 1px solid #e0dbdb;
      border-radius: 6px;
      cursor: pointer;
      transition: all 300ms ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    &--form {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;
      height: 100%;

      label {
        font-size: 20px;
      }

      input {
        height: 50px;
        width: 90%;
        border: 1px solid #e0dbdb;
        border-radius: 6px;
        border-bottom: 2px solid #b6b2b2;
        outline: none;
        transition: all 300ms ease-in-out;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus {
          border-bottom: 2px solid #6c63ff;
        }
      }

      button {
        font-size: 25px;
        align-self: center;
        width: 90%;
        height: 50px;
        background-color: #6c63ff;
        color: #ffffff;
        border: 1px solid #e0dbdb;
        border-radius: 6px;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  &__login-data {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0dbdb;
    background-color: #f5f1f1ad;
    width: 600px;
    margin: 30px 10px 10px 10px;
    height: 75%;
    padding: 10px;
    border-radius: 6px;
    box-shadow: -21px 18px 48px -23px rgba(0, 0, 0, 0.75);

    &--form {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      min-width: 70%;
      height: 100%;

      div{
          display: flex;
          flex-direction: column;

        label {
            font-size: 20px;
          }
    
          input {
            height: 50px;
            border: 1px solid #e0dbdb;
            border-radius: 6px;
            border-bottom: 2px solid #b6b2b2;
            outline: none;
            transition: all 300ms ease-in-out;
    
            &:focus {
              border-bottom: 2px solid #6c63ff;
            }
          }
      }

      button {
        font-size: 25px;
        height: 50px;
        background-color: #6c63ff;
        color: #ffffff;
        border: 1px solid #e0dbdb;
        border-radius: 6px;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
